@font-face{font-family:afro-menu;src:url(../fonts/menu/afro-menu.eot?16004634);src:url(../fonts/menu/afro-menu.eot?16004634#iefix) format('embedded-opentype'),url(../fonts/menu/afro-menu.woff2?16004634) format('woff2'),url(../fonts/menu/afro-menu.woff?16004634) format('woff'),url(../fonts/menu/afro-menu.ttf?16004634) format('truetype'),url(../fonts/menu/afro-menu.svg?16004634#afro-menu) format('svg');font-weight:400;font-style:normal}[class*=" icon-"]:before,[class^=icon-]:before{font-family:afro-menu;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.icon-arrow:before{content:'\e800'}
.icon-cancel:before{content:'\e801'}
.icon-love:before{content:'\e802'}
.icon-beer:before{content:'\e803'}
.icon-menu:before{
	content:'\e804';
	font-size: 2em;
}





/*******************************************
	Overlay Handler
*******************************************/
main {
	position: relative;
}

main:before {
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	background: rgba(0, 0, 0, 0.6);
	content: "";
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
}

.offcanvas-menu main {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.offcanvas-menu main:before {
	opacity: 1;
	visibility: visible;
}





/*******************************************
	Navigation - Desktop
*******************************************/
.main-nav-container {
	margin-bottom: 0px;
	width: 100%;
	padding-bottom: 50px;
	border-bottom: none;
	background: #fff;
	position: relative;
	z-index: 99;
}

.main-nav-container nav .site-menu {
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.main-nav-container nav .site-menu .active>a {
	color: #2764a7;
}

.main-nav-container nav .site-menu a {
	text-decoration: none !important;
	display: inline-block;
}

.main-nav-container nav .site-menu>li {
	display: inline-block;
	padding: 10px 5px;
}

.main-nav-container nav .site-menu>li>a {
	padding: 10px 10px;
	letter-spacing: .05em;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none !important;
}

.main-nav-container nav .site-menu>li>a:hover {
	color: #2764a7;
}

.main-nav-container nav .site-menu>li:last-child {
	padding-right: 0;
}

.main-nav-container nav .site-menu>li:last-child>a {
	padding-right: 0;
}

.main-nav-container nav .site-menu .menu-item-has-children {
	position: relative;
}

.main-nav-container nav .site-menu .menu-item-has-children>a {
	position: relative;
	padding-right: 20px;
}

.main-nav-container nav .site-menu .menu-item-has-children>a:before {
	position: absolute;
	content: "\e800";
	font-family: 'afro-menu';
	font-size: 1em;
	top: 50%;
	right: -3px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	padding: 0;
	margin-top: 20px;
	margin-left: 0px;
	background: #fff;
	-webkit-transition: 0.2s 0s;
	-o-transition: 0.2s 0s;
	transition: 0.2s 0s;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu.arrow-top {
	position: absolute;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu.arrow-top:before {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu.arrow-top:before {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: #343a40;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu .active>a {
	color: #000 !important;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 220px;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li>a {
	padding: 5px 20px;
	display: block;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li>a:hover {
	color: white;
	background-color: #2764a7;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children>a:before {
	content: "\e800";
	font-family: 'afro-menu' !important;
	right: 20px;
	-webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children>.sub-menu,
.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children>ul {
	left: 100%;
	top: 0;
}

.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children:hover>a,
.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children:active>a,
.main-nav-container nav .site-menu .menu-item-has-children .sub-menu>li.menu-item-has-children:focus>a {
	color: white;
    background-color: #2764a7;
}

.main-nav-container nav .site-menu .menu-item-has-children:hover>a,
.main-nav-container nav .site-menu .menu-item-has-children:focus>a,
.main-nav-container nav .site-menu .menu-item-has-children:active>a {
	color: #2764a7;
}

.main-nav-container nav .site-menu .menu-item-has-children:hover,
.main-nav-container nav .site-menu .menu-item-has-children:focus,
.main-nav-container nav .site-menu .menu-item-has-children:active {
	cursor: pointer;
}

.main-nav-container nav .site-menu .menu-item-has-children:hover>.sub-menu,
.main-nav-container nav .site-menu .menu-item-has-children:focus>.sub-menu,
.main-nav-container nav .site-menu .menu-item-has-children:active>.sub-menu {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}





/*******************************************
	Mobile Navigation
*******************************************/
.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	background: #fff;
	height: calc(100vh);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
	float: right;
	margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
	font-size: 3em;
	display: inline-block;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
	color: #25262a;
}

.site-mobile-menu .site-mobile-menu-body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 0 20px 0 0;
	height: calc(100vh - 52px);
}

.site-mobile-menu .site-nav-wrap {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.site-mobile-menu .site-nav-wrap a {
	padding: 10px 20px;
	display: block;
	position: relative;
	color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
	color: #2764a7;
}

.site-mobile-menu .site-nav-wrap li {
	position: relative;
	display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
	color: #2764a7;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
	position: absolute;
    right: 0px;
    top: 8px;
    z-index: 20;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
	background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
	font-size: 1.2em;
	z-index: 20;
	font-family: 'afro-menu' !important;
	content: "\e800";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	-ms-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
	-ms-transform: translate(-50%, -50%) rotate(-90deg);
	transform: translate(-50%, -50%) rotate(-90deg);
}

.site-mobile-menu .site-nav-wrap>li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
	padding-left: 20px;
	font-size: 1.2em;
}

.site-mobile-menu .site-nav-wrap>li>ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
	display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
	padding-left: 40px;
	font-size: 1.2em;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
	padding: 0;
	margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
	display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
	font-size: 1.2em;
	padding-left: 60px;
}


/* <nav class="float-right">
	<ul class="site-menu clone-main-nav d-none d-lg-block">
		<li class="active">
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">About Us</a>
		</li>
		<li class="menu-item-has-children">
			<a href="#">Drop Down Menu</a>
			<ul class="sub-menu">
				<li><a href="#">Sub Menu One</a></li>
				<li><a href="#">Sub Menu One</a></li>
				<li class="menu-item-has-children">
					<a href="#">Third Level</a>
					<ul class="sub-menu">
						<li><a href="#">Sub Menu Two</a></li>
						<li><a href="#">Sub Menu Two</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</nav> */